body{background-color:  #e1b382  position:absolute;
    width:100%;
    height:100%;
    left:0;
    bottom:0;
background:url(https://media.wired.com/photos/59266c3b7034dc5f91beb5d9/master/w_582,c_limit/BioCodingTA.jpg) left repeat-x;}
